.covCard{
    border: 1px solid #b0adadf2;
    border-radius: 5px;
    background-color: #e1e1e159 !important;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight:800;
    color: '#252b36f2';
}
.covCardButton{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.covDataTable{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
 
 
/* .TableContainer {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  } */
 
  /* For webkit browsers (Chrome, Safari, Edge) */
  .TableContainer::-webkit-scrollbar {
    width: 3px; /* Adjust the scrollbar width */
    height: 3px; /* Adjust horizontal scrollbar height */
  }
 
  .TableContainer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray track */
  }
 
  .TableContainer::-webkit-scrollbar-thumb {
    background: #888; /* Darker gray for thumb */
    border-radius: 5px; /* Rounded edges */
  }
 
  .TableContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Even darker on hover */
  }
  .css-164gw4y {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: hidden !important;
    padding: 10px;
    background-color: #ffff;
}
.table-button-row {
  margin: 1px !important;
  padding: 4px !important;
  font-size: 9px !important;  
  text-transform: none !important;
}
.app-icon{
  color:#252b36f2;
  font-size: '12px';
}
 
 /* .css-hyum1k-MuiToolbar-root {
      min-height: '50px !important';
  }
 
@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
      min-height: '50px !important';
  }
} */
 
.TableContainer {
  max-height: none !important;
  overflow: visible !important;
}
 
.rdt_TableRow {
  height: '2px !important';
}
 
.dODGfY {
  display: flex !important;
  align-items: stretch !important;
  width: 100% !important;
  background-color: #FFFFFF !important;
  max-height: 30px !important;
  min-height: 0px !important;
  border-bottom-width: 1px !important;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
  border-bottom-style: solid !important;
}
 
.MuiBadge-badge {
  /* position: relative !important'; */
  font-weight: 500;
  font-size: 0.5357142857142857rem;
  min-width: 18px !important ;
  line-height: 1;
  padding: 0 6px;
  height: 18px !important;
  border-radius: 10px;
  z-index: 1;
  top: 0;
  right: 0;
  left:20 !important;
}
 
.kMgreK {
    /* display: flex; */
    /* align-items: stretch; */
    /* width: 100%; */
    /* background-color: #FFFFFF; */
    min-height: 35px !important;
    height: 30px !important;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0, 0, 0, .12);
    border-bottom-style: solid;
}